body {
  font-size: 1.2em;
  font-family: 'PT Sans', sans-serif;
  background: #e6e6e6;
}

a {
  text-decoration: none;
  color: yellow;
}

a:hover {
  color: #FDE3A7;
}

.wrapper {
  margin: 0 auto;
  padding: 1em;
  width: 60%;
  height: auto;
  text-align: center;
  background: -moz-linear-gradient(top,  #1e5799 0%, #207cca 23%, #2989d8 46%, #7db9e8 94%); /* FF3.6+ */
  background: -webkit-linear-gradient(top,  #1e5799 0%,#207cca 23%,#2989d8 46%,#7db9e8 94%); /* Chrome10+,Safari5.1+ */
}

