body {
  font-size: 1.2em;
  font-family: 'Verdana', sans-serif;
  background-image: url('Tdkc60cassette.jpg');
}

h1 {
  color: #4d4d4d;
  padding: .5emx;
  border: 4px solid black;
}

a {
  text-decoration: none;
  color: #4d4d4d;
}

a:hover {
  color: #47a3ff;
}

.wrapper {
  margin: 0 auto;
  padding: 1em;
  width: 60%;
  height: auto;
  text-align: center;
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 15%, rgba(237,237,237,1) 53%);
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 15%,rgba(237,237,237,1) 53%);
}

