<div class = wrapper>
<h1>The Wall of Song</h1>
<% @songs.each do |song| %>
  <div class="song">
    <h3><a href="/songs/<%= song.id %>"><%= song.songtitle %></a> <small>(by: <%= song.author %>)</small></h3>
    <p>
      <%= song.url %>
    </p>
  </div>
<% end %>

<a href="/songs/new">Post your song!</a>
</div>


