<form action="/login" method="POST">
    <label for="name">Enter your username:</label>
    <input type="text" name="name" value="" placeholder="What should I call you?"><br><br>
    <label for="password">Enter your password:</label>
    <input type="text" name="password" value="" placeholder="Enter Password"><br><br>
    <input type="submit" value="Login">
</form>

 