

<form method="post" action="/songs">
  <div>
    <label>Song Title:</label>
    <input type="string" name="songtitle">
  </div>
  <div>
    <label>Author:</label>
    <input type="string" name="author">
  </div>
  <div>
    <label>URL:</label>
    <input type="string" name="url">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>


